<div id="about">
	<div id="image-rotation" class="about-image">
		<img src="../public/images/about/blank.png">
		<div class="slide" style="background-image: url('../public/images/about/studio-1.jpg'); opacity: 1;"></div>
		<div class="slide" style="background-image: url('../public/images/about/studio-2.jpg');"></div>
		<div class="slide" style="background-image: url('../public/images/about/studio-3.jpg');"></div>
		<div class="slide" style="background-image: url('../public/images/about/studio-4.jpg');"></div>
		<div class="slide" style="background-image: url('../public/images/about/studio-5.jpg');"></div>
		<div class="slide" style="background-image: url('../public/images/about/studio-6.jpg');"></div>

	</div>
	<div class="about-text">
		<p>B. 1990 in Vancouver BC, Tom Chung is an independent industrial designer who established his eponymous studio in 2016. Based in Toronto the studio maintains a focus on material objects and interior space with an emphasis on experience. Forming a unique design process which combines contemporary culture and local industry, the studio creates context driven industrial design pieces for domestic, institutional and public environments.</p>
		<p>2573 Dundas St. West<br>
		Toronto, Canada, M6P 1X7<br>
		info@tomchung.net</p>
	</div>
</div>