<div class="about-section">
	<div class="label"><a href="/">Studio</a></div>
	<div class="field">
		<p>B. 1990 in Vancouver BC, Tom Chung is an independent industrial designer who established his eponymous studio in 2016. Based in Toronto the studio maintains a focus on material objects and interior space with an emphasis on experience. Forming a unique design process which combines contemporary culture and local industry, the studio creates context driven industrial design pieces for domestic, institutional and public environments.</p>
		<p>2573 Dundas St. West<br>
		Toronto, Canada, M6P 1X7<br>
		info@tomchung.net</p>
	</div>
	<div class="spacer"></div>
</div>
<div class="about-section">
	<div class="label"><a href="/updates/">Updates</a></div>
	<div class="field">
	{% assign sorted = site.news | reverse %}
	{% for node in sorted | limit: 3 %}
		<div class="post">
			<div class="post-date">{{ node.date | date: "%b %-d %Y" }}</div>
			<div class="post-content">{{ node.content }}</div>
		</div>
	{% endfor %}
		<a href="/updates">See Older</a>
	</div>
	<div class="spacer"></div>
</div>