<ul class="list">
	{% for node in site.posts %}
	{% if page.url == node.url %}
	<li class="list-item flex">
		<div class="list-project-title"><strike>{{ node.title }}</strike></div>
		<div class="list-project-status"><strike>{{ node.status }}</strike></div>
		<div class="list-project-typology"><strike>{{ node.typology }}</strike></div>
		<div class="list-project-date"><strike>{{ node.year }}</strike></div>
	</li>
	{% else %}
	<li class="list-item">
		<a href="{{ node.url }}" class="flex">
			<div class="list-project-title"><span>{{ node.title }}</span></div>
			<div class="list-project-status"><span>{{ node.status }}</span></div>
			<div class="list-project-typology"><span>{{ node.typology }}</span></div>
			<div class="list-project-date"><span>{{ node.year }}</span></div>
		</a>
	</li>
	{% endif %}
	{% endfor %}
</ul>