{% include header.html %}
<div id="container">
	<div id="content">
		<div class="project">
			<div class="right-column">
				<ul class="gallery cf">
					{% for image in page.images %}
						{% if image.image %}
						<li class="image {{ image.size }}">
							{% placeholder_img %}
						</li>
						{% endif %}
						{% if image.video %}
						<li class="image {{ image.size }}">
							<div class="placeholder video">
								<video autoplay loop muted playsinline onloadeddata="showVideo(event)">
									<source src="/public/images/{{ image.video }}">
								</video>
							</div>
						</li>
						{% endif %}
						{% if image.ar %}
						<li class="image {{ image.size }}">
							{% placeholder_usdz %}
						</li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>
			<div class="left-column">
				<div id="sticky-column">
					<nav>
						<div><a href="/">Studio</a> / {{ page.title }}</div>
					</nav>
					<div class="post-content">
						{{ content }}
					</div>
				</div>
			</div>
		</div>
		<div id="index">
			{% include list.html %}
		</div>
	</div>
</div>
{% include footer.html %}
