{% include header.html %}
<div id="container">
	<div id="content">
		<div class="home">
			<div id="updates">
				<div class="about-section">
					<div class="label"><a href="/">Studio</a> / {{ page.title }}</div>
					<div class="field">
					{% assign sorted = site.updates | reverse %}
					{% for node in sorted %}
						<div class="post">
							<div class="post-date"><a href="{{ node.url }}">{{ node.date | date: "%b %-d %Y" }}</a></div>
							<div class="post-content">{{ node.content }}</div>
						</div>
					{% endfor %}
					</div>
					<div class="spacer"></div>
				</div>
			</div>
		</div>
	</div>
</div>
{% include footer.html %}